{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="account-manage">
  <h2>{% trans "Sign In" %}</h2>
  <br>
  <p>{% blocktrans %}Welcome back, Edenite. To leave a rating, please log in.</p>
  <p>If you don't have credentials yet, <a
      class="link" href="{{ signup_url }}">register now</a>.{% endblocktrans %}</p>
  <br>
  <form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <br>
    <button class="account-btn" type="submit">{% trans "Sign In" %}</button>
  </form>
</div>

{% endblock %}