/* General Styles */

* {
    margin: 0;
    padding: 0;
    font-family: "Cousine", monospace;
    background-color: #F7EBEC;
    color: #1E2019;
}

main {
    margin: 42px 0 20px;
}

h1, h2 {
    font-family: "Rubik Mono One", system-ui;
}

.hide {
    display: none;
}

button {
    padding: 3px;
}

/* Header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 38px;
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #1E2019;
    background-color: #1E2019;
}

#menu {
    list-style-type: none;
    background-color: #f4d6cc;
}

#logo {
    font-size: 1.2em;
    background-color: #1E2019;
    color: #F7EBEC;
    margin-right: 5px;
}

.nav-logo {
    background-color: #1E2019;
}

/* Navbar styles with dropdown toggle */

nav {
    position: absolute;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 2px #1E2019;
    display: none;
    top: 100%;
    background-color: #1E2019;
}

nav li, nav a {
    background-color: #1E2019;
    text-decoration: none;
    color: #F7EBEC;
    font-size: 1.1em;
    padding: 5px;
}

.active {
    color: #D1D646;
}

nav a:hover {
    text-decoration: underline #F7EBEC;
}

nav i {
    background-color: #1E2019;
    color: #F7EBEC;
}

/* Nav toggle */

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
    padding-left: 5px;
}

.nav-toggle-label {
    font-size: 2rem;
    background-color: #1E2019;
    padding-left: 5px;
}

.fa-bars:before {
    background-color: #1E2019;
    color: #F7EBEC
}

/* Login status message */

main .login-status {
    text-align: right;
    font-size: 0.8em;
    margin-right: 5px;
}

/* Messages */

.messages {
    display: flex;
    justify-content: center;
}

.messages i {
    background-color: #1E2019;
    color: #F7EBEC;
}

.message input {
    display: none;
}

#msg {
    border: solid;
    padding: 5px;
    background-color: #1E2019;
    color: #F7EBEC;
}

.message label {
    background-color: #1E2019;
}

/* Account management templates (Login, sign out, register */

.account-manage {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.account-manage p, .account-manage form {
    text-align: center;
    padding: 5px;
}

.account-manage ul {
    list-style: none;
    text-align: left;
}

.account-btn {
    background-color: #1E2019;
    color: #D1D646;
}

/* index.html */

.hero-banner {
    display: flex;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/Hero.jpg);
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}

.hero-text {
    margin: auto;
    max-width: 60%;
    background-color: transparent;
}

.hero-text h2, .hero-text p {
    background-color: transparent;
    color: #F7EBEC;
}

.fa-skull {
    font-weight: 600;
}

.stories-container h3 {
    padding: 5px;
    font-family: "Rubik Mono One", system-ui;
}

.cta {
    font-family: "Rubik Mono One", system-ui;
    text-decoration: none;
    background-color: #564D80;
    color: #F7EBEC;
    max-width: fit-content;
    padding: 5px;
    align-self: center;
}

.cta:hover {
    text-decoration: underline #F7EBEC;
}

/* stories.html */

.stories-hero-banner {
    display: flex;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/placeholder.jpg") no-repeat center center/cover;
    height: 300px;
}

.hero-text {
    margin: auto;
    max-width: 60%;
    background-color: transparent;
}

.hero-text h2, .hero-text p {
    background-color: transparent;
    color: #F7EBEC;
}

#paginator {
    width: 100%;
    display: flex;
    justify-content: center;
}

#pagination li {
    list-style: none;
}

#pagination a {
    background-color: #1E2019;
    color: #D1D646;
    padding: 5px;
}


/* About */

#about-image {
    max-width: 40vw;
}

.about-image {
    max-width: 40vw;
    overflow: hidden;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    max-width: 600px;
}

.about-container {
    display: flex;
}

/* Story details*/
.stories-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    max-width: 1000px;
    margin-top: 20px;
}

.story-description {
    display: flex;
    justify-content: space-around;
}

.story-card {
    padding: 5px;
    margin-bottom: 20px;
}

.story-detail {
    display: flex;
    flex-direction: column;
}

.story-title {
    font-size: 1.5em;
}

.hero-container {
    height: 300px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/placeholder.jpg") no-repeat center center/cover;
    position: relative;
    display: flex;
}

.story-image-container {
    max-height: 280px;
    background-color: transparent;
}

.story-image {
    max-height: inherit;
    margin-top: 10px;
    margin-left: 10px;
}

.author-date-text {
    text-align: right;
    margin-bottom: 20px;
    margin-right: 15px;
}

.story-content {
    font-family: "Cousine", monospace;
    margin: 0 5px 40px;
    display: flex;
    justify-content: center;
}

.story-text {
    max-width: 1000px;
}

/* Comment section */

#comment-section {
    max-width: 1000px;
    margin: auto;
}

.comment-count {
    background-color: #1E2019;
    color: #D1D646;
    padding: 5px;
    margin-left: 10px;
}

.comment-count i {
    background-color: #1E2019;
    color: #D1D646;
}

#comment-section h3 {
    margin-top: 10px;
    margin-left: 10px;
}

.form-card {
    display: flex;
    flex-direction: column;
    background-color: #564D80;
    padding: 5px;
}

.form-card h3 {
align-self: center;
padding: 10px;
}

.form-card h3, .form-card p {
    background-color: #564D80;
    color: #F7EBEC;
}

#commentForm {
    background-color: #564D80;
    display: flex;
    flex-direction: column;
}

#commentForm label {
    background-color: #564D80;
    color: #F7EBEC;
}
#commentForm button {
    align-self: center;
}

.comments {
    margin: 10px;
    border-left: solid #1e2019;
    padding-left: 5px;
}

.approval p {
    color: #564D80;
}

/* Delete Modal */

#deleteModal {
    position:fixed;
    left: 5px;
    height: 135px;
    bottom: 60px;
    border: solid #1E2019;
    background-color: #1E2019;
    padding: 5px;
}

#deleteModal div, #deleteModal label, #deleteModal i {
    background-color: #1E2019;
    color: #F7EBEC;
}

#deleteModal i {
    font-size: 1.5em;
    padding-right: 5px;
}

#deleteModal h5 {
    font-size: 1em;
    background-color: #1E2019;
    color: #F7EBEC;
    padding: 10px;
}

#deleteModal input {
    display: none;
}

.modal-header {
    display: flex;
    justify-content: space-between;
}

.modal-body {
    padding: 10px;
    background-color: #1E2019;
    color: #F7EBEC;
}

.modal-footer {
    margin-left: 10px;
}

.cancel-delete {
    padding: 10px;
    background-color: #1E2019;
    color: #F7EBEC;
}

/* Footer */

footer p {
    text-align: right;
    font-size: 0.8em;
    margin-right: 5px;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100vw;
}

/* Media queries */
@media screen and (min-width: 500px) {
    .form-card h3, .form-card p {
    align-self: center;
    }
}
@media screen and (min-width: 760px) {

    header {
        justify-content: space-between;
    }

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width:fit-content;
    }

    nav li, nav a {
        font-size: 1em;
    }

    #logo {
        font-size: 1.3em;
        padding-right: 5px;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

}

@media screen and (min-width: 860px) {
    #logo {
        font-size: 1.5em;
    }

    main .login-status, footer p {
        margin-right: 15px;
    }

}