{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- About page image -->
<div class="about-container">
    <div class="about-image">
        {% if "placeholder" in about.featured_image.url %}
        <img id="about-image" src="{% static 'images/about.jpg' %}" alt="Grayscale image of a library shelf">
        {% else %}
        <img src="{{ about.featured_image.url }}"
        alt="{{ about.title }}">
        {% endif %}
    </div>
    <div class="about-text">

        <!-- Title goes between these h2 tags -->
        <h2>{{ about.title }}</h2>
        
        <!-- Content goes directly underneath this -->
        <div>
            {{ about.content | safe }}
        </div>

        <!-- Updated on field goes in here -->
        <p><em>Updated on: {{ about.updated_on }}</em></p>
    </div>
</div>
{% endblock content %}