{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="about-container">
    <div class="about-image">
        <img id="about-image" src="{% static 'images/about.jpg' %}" alt="Grayscale image of a library shelf">
    </div>
    <div class="about-text">

        <!-- Title goes between these h2 tags -->
        <h2>{{ about.title }}</h2>
        <!-- Content goes directly underneath this -->
        <p>
            {{ about.content | safe }}
        </p>


        <!-- Updated on field goes in here -->

        <p><em>Updated on: {{ about.updated_on }}</em></p>
    </div>
</div>
</div>
{% endblock content %}