{% extends "base.html" %}

{% block content %}

<!-- index.html content starts here -->

<!-- Hero image and h2 -->
<div class="hero-banner">
    <div class="hero-text">
        <h2>Greetings, we are Blood of Eden.</h2>
        <p>Explore and add to our collection of fan stories based on Tamsyn Muir's The Locked Tomb series</p>
    </div>
</div>
<!-- Latest Stories Column -->
<div><h3>Latest Stories</h3></div>

<div class="stories-container">
    {% for story in story_list %}
    <div class="story-card">
        <div class="author-tag">

            <p class="author">Author: {{ story.author }}</p>

        </div>
        <a href="{% url 'story_detail' story.slug %}" class="story-link">
            <h2>{{ story.title }}</h2>
        </a>
        <p>{{ story.feature }}</p>
        <hr>
        <p class="date-text">{{ story.created_on}}
        </p>
    </div>
    {% if forloop.counter|divisibleby:3 %}

    <div class="row">
        {% endif %}
        {% endfor %}

    </div>
</div>

<!-- index.html content ends here -->
{% endblock %}